@import './variables.module.css';

.container {
  max-width: var(--article-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--base-line-height) calc(var(--base-line-height) * .75);
}
.sub-text {
  font-size: .75em;
  color: hsla(0,0%,0%,0.6);
}