@import './variables.module.css';

div, p {
  color: var(--text-color);
}
blockquote {
  border-left: solid 4px hsla(0,0%,0%,0.4);
  margin-left: 0;
  padding-left: var(--base-line-height);
  color: hsla(0,0%,0%,0.4);
  & > p {
    color: hsla(0,0%,0%,0.4);
  }
}
a {
  text-decoration: none;
  color: var(--brand-color);

  &:hover {
    color: var(--brand-color-lighter);
    text-decoration: underline;
  }
  &:active {
    color: var(--brand-color-lightest);
  }
  &:visited {
    color: var(--brand-color-darkest);
  }
}
img {
  margin: 0;
}

.inline-image {
  float: left;
  margin-right: 15px;
}
.center-image {
  text-align: center;
}
.captioned-image p:last-of-type {
  font-size: .9em;
}
.photo-credit {
  font-size: 12px;
  margin-top: 15px;
}
